
body, html {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: #181818;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.auth-page {
  flex-grow: 1;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.auth-button,
.error-dialog button {
  font-size: 18px;
  background-color: #2ebd59;
  color: white;
  letter-spacing: 1.2px;
  min-width: 1.2px;
  text-transform: uppercase;
  border-width: 0;
  border-radius: 500px;
  line-height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  outline: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.reauth-message {
  margin-bottom: 20px;
}

.main-page {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.header {
  height: 35px;
  background-color: white;
  color: black;
  font-size: 18px;
  line-height: 35px;

  flex: none;
  display: flex;
  flex-direction: row;
}

.header-left {
  width: 50%;
  padding-left: 8px;
}

.header-right {
  width: 50%;
  text-align: right;
  padding-right: 6px;
}

.menu {
  background: transparent;
  outline: 0 none;
  border: 0 none;
  width: 35px;
  height: 35px;
  font-size: 20px;
  line-height: 25px;
  position: relative;
}

.menu ul {
  display: none;
}

.menu.menu-open {
  background-color: #333333;
  color: #A0A0A0;
}

.menu.menu-open ul {
  display: block;
  position: absolute;
  top: 100%;
  background-color: #333333;
  color: #A0A0A0;
  width: 180px;
  right: 0;
  margin: 0;
  list-style: none;
  color: white;
  text-align: left;
  padding: 0;
  z-index: 10;
}

.menu.menu-open ul li {
  list-style: none;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.menu.menu-open ul li:hover {
  background-color: #404040;
  color: #BABABA;
}

.about-link {
  color: #A4A4A4;
  text-decoration: none;
  margin-right: 10px;
  line-height: 35px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.right-content {
  position: relative;
  display: flex;
  flex: 1;
}

.left-sidebar {
  width: 200px;
  background: #282828;
  flex: none;
  display: flex;
  position: relative;
}

.playlists-view-with-filter {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.playlists-view-with-filter .filter-input {
  box-sizing: border-box;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
  padding: 4px;
  flex: none;
  order: 2;
}

.playlists-view {
  overflow-x: hidden;
  overflow-y: auto;
  order: 1;
  width: 100%;
}

.playlists-view ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.playlists-view ul li {
  list-style: none;
  text-indent: 0;
  display: block;
  padding-left: 5px;
  line-height: 1.5em;
  padding-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  color: #A6A8AB;
  -webkit-user-select: none;
  position: relative;
  cursor: default;
}

.playlists-view ul li:not(.selected):hover {
  color: white;
}

.playlists-view ul li.selected {
  background: white;
  color: #282828;
}

.albums-view {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
}

.square-image-container {
  display: block;
  width: 100%;
  padding-top: 100%;
  background-color: #282828;
  position: relative;
  margin: 0;
}

.square-image-container img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  max-height: 100%;
}

.albums-view ul {
  list-style: none;
  padding-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.albums-view ul li {
  width: 250px;
  padding: 0;
  margin: 20px;
  -webkit-user-select: none;
  cursor: pointer;

  display: flex;
  flex-direction: column;
}

.albums-view ul li .square-image-container {
  flex-grow: 0;
}

.album-info {
  background-color: #282828;
  padding: 10px;
  min-height: 40px;
  flex-grow: 1;
}

.album-title {
  margin-bottom: 4px;
  color: white;
}

.album-artist {
  color: #A6A8AB;
  font-size: 13px;
}

.error-dialog-outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.error-dialog {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  flex: 0;
}

.error-dialog h1 {
  font-size: 18px;
  margin-bottom: 25px;
}

.loading-indicator {
  text-align: center;
  color: white;
  height: 50px;
  display: block;
  flex-shrink: 0;
  line-height: 50px;
  font-size: 25px;
  -webkit-user-select: none;
  cursor: default;
}
